.root-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main {
    margin-top: 64px; 
    padding: 16px;
}

.contact {
    margin-top: 64px;
    padding: 16px;
}

.face-image:hover {
    cursor: pointer;
}

.topname:hover {
    cursor: pointer;
}

/*SNS*/
.sns-item {
    display: 'flex';
    align-items: 'center';
    padding: 15px ;
}

.sns-name {
    display: inline;
    font-size: large;
}

/*Contact*/
.email {
    font-weight: 1200;
    font-size: x-large;
}


/* Main */
.lang-name {
    font-size: 20px;
    margin: 0 auto;
    display: inline;
    padding-left: 10px;
    align-items: center;
}