.root-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.main {
    margin-top: 64px; 
    padding: 16px;
}

@media (max-width: 600px) {
    .root-container {
      flex-direction: column;
    }
    .main, .contact ,.sns{
      flex-grow: 1;
      margin-top: 16px;
      width: 100%;
    }
}
.contact {
    margin-top: 64px;
    padding: 16px;
}

.face-image:hover {
    cursor: pointer;
}

.topname:hover {
    cursor: pointer;
}

/*SNS*/
.sns {
    margin-top: 64px;
    padding: 16px;
}

.sns-item {
    display: 'flex';
    align-items: 'center';
    padding: 15px ;
}

.sns-name {
    display: inline;
    font-size: large;
}

/*Contact*/
.email {
    font-weight: 1200;
    font-size: x-large;
}


/* Main */
.lang-name {
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    padding-left: 10px;
    align-items: center;
    color: black;
}

.langueges {
    padding-bottom: 10px;
}

.experience {
    padding-bottom: 10px;
    font-size: 20px;
}

.country-flag {
    font-size: 50px;
    position: relative;
    display: inline-block;
  }
  
.country-flag .tooltip-text {
visibility: hidden;
width: 60px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
bottom: 100%; /* Position the tooltip above the flag */
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}

.country-flag:hover .tooltip-text {
visibility: visible;
opacity: 1;
font-size: 10px;
}